# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/.nyc_output
/coverage
/test/integration/screenshots
/test/integration/videos

# production
/dist

# misc
.DS_Store

# Vagrant
.vagrant

# Non-public configuration variables
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
