.navbar {
    margin-bottom: 2em;
}

.popup-icon:hover .font-popup-on {
    color: #f5c542;
  }



.popup-icon{
    vertical-align: super;
    font-size: smaller;
}

.img-fluid {
    max-width: 100%;
}

.img-container {
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: center;
    justify-content: center;
}