.navbar {
    margin-bottom: 2em;
}

.popup-icon:hover .font-popup-on {
    color: #f5c542;
  }



.popup-icon{
    vertical-align: super;
    font-size: smaller;
}

.img-front {
    max-width: 90%;
}

.img-div {
    max-width: 30%;
}

.img-container-front {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
}

.img-container-div {
    padding-top: 2em;
    padding-bottom: 7em;
    display: flex;
    justify-content: center;
}

.task-container {
    padding-top: 2em;
    padding-bottom: 3em;
}

hr{
    margin-top: 2em;
    margin-bottom: 4em;
}